@font-face {
font-family: proxima-nova, sans-serif;
src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
}
body{
    font-family: proxima-nova, sans-serif;
}
#sidebar{max-height:550px;min-height: 590px;
	     position:fixed;padding:0px;margin-top:76px;overflow-y:scroll;background-color:black}

#sidebar a{display: block;
  color:white;
  padding: 10px;
  text-decoration: none;
  
  font-size: 1.7vw;
  padding-left:30px;
  padding-right:30px;
}
.submenu2{visibility: hidden;font-size:17px!important;}
.logindiv{margin-top:120px;}
.logindiv h3{color:#cc0000;margin-bottom:10px;}
.loginform{border:1px solid lightgray;border-radius:5px;padding:20px;}
#sidebar a:hover{background-color:gray;}
#toptag{font-size:5vw;
 
   text-decoration:none;
    
    letter-spacing: 3px;
    color:white;}
 .btn{background-color:#001a33;color:white;}
 .btn:hover{background-color:#001a33;color:white;}
	
#adminprofile{background-color:lightgray;padding:10px;border-radius:50%;width:60px}
.loginbtn{background-color:#000080;color:white;}

#maincontent{margin-top:76px;padding-top:10px;}
form{padding:20px;border-radius:3px;padding-top:0px!important;}

